{% extends 'base.html' %}
{% block content %}
<div class="container-fluid pt-5 mt-5">
    <div class="row pb-3 text-center">
        {% if images %}
            <h2 style="color:rgb(96,162,206)"><strong>Found {{ images|length }} images in {{ message }} category</strong></h2>
        {% else %}
            <h2 style="color:rgb(96,162,206)"> <strong>Found 0 images for your search {{ message }}</strong></h2>
        {% endif %}      
    </div>
    <div class="row">
        {% if images %}
          {% for image in images %}
          <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
            <div class="card text-center" style="width: 18rem;">
                    <div class="card-title">
                        <h3>{{image.name}}</h3>
                    </div>
                    <div class="card body">
                        <div class="card-text">
                        <img class="img-fluid rounded mx-auto d-block" src="{{image.image.url}}" alt="{{image.name}}" width="300" height="300">
                            <p>Description: {{image.description}}</p>
                            <p>Location: {{image.location}}</p>
                            <p>Category: {{image.category}}</p>
                        </div>
                        <div class="card-footer">
                            <p>Posted on {{image.date_posted}} by {{image.photographer}}</p>
                        </div>
                    </div>
            </div>
        </div>
          {% endfor %}
        {% endif %}
        <a class="d-flex justify-content-center mx-auto py-5" href="/">
            <button class="btn btn-dark btn-sm" style="font-size:18px">Home <i class="fa fa-angle-double-left"></i></button>
        </a>
    </div>
</div>
{% endblock %}
