*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url('../assets/bg_img.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;    
}

.card{
    background-color: rgb(96, 162, 206);
    z-index: 1;
}
.modal{
    background-color: rgb(138, 96, 7);

}
a, button{
    text-decoration: none;
}
.fab{
    color:rgb(96,162,206);
}
span{
    color: rgb(215,161,47);
}